extends layout

block content
    html

        .div
            .col-xs-12.col-sm-12
                br
                h2 Внесение результатов
                form(name='name' action='/registerBook' method='POST')
                    table
                        tr
                           th Стол
                           th Белые
                           th Рейтинг
                           th Результат
                           th Черные
                           th Рейтинг

                        tr
                           td 1
                           td Иванов И. И.
                           td 1000
                           td
                            select
                                option 1-0
                                option 1/2
                                option 0-1
                           td Петров П. П.
                           td 1001

                        tr
                           td 1
                           td Иванов И. И.
                           td 1000
                           td
                            select
                                option 1-0
                                option 1/2
                                option 0-1
                           td Петров П. П.
                           td 1001
                        tr
                           td 1
                           td Иванов И. И.
                           td 1000
                           td
                            select
                                option 1-0
                                option 1/2
                                option 0-1
                           td Петров П. П.
                           td 1001

                br
                button(class='btn btn-lg btn-primary btn-block', type='submit') Сохранить
        #footer
            .container
                .row.centered
                    p ул. Некрасова, 5Б, Белгород, Белгородская обл., 308007
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='../js/bootstrap.min.js')