<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="/stylesheets/bootstrap.css">
    <link rel="stylesheet", href="/stylesheets/style.css">
    <link rel="stylesheet", href="/stylesheets/main.css">
    <script src="/routes/call.js"></script>
    <!--link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">    <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">B<i class="fa fa-circle"></i><i class="fa fa-circle"></i>KROSSING</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="#">Домой</a> </li>-->
                <li><a href="#">Регистрация</a> </li>
                <li><a href="#">Вход</a> </li>
                <!--<li><a href="#">Работы</a> </li>-->
                <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!--<div id="headerwrap">-->
<!--<div class="container">-->
<!--&lt;!&ndash;<div class="row centered">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>BOOKCROSSING</h1>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<h2>Тут что-т</h2>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="container w">-->
<!--<div class="row centered">-->
<!--<br><br>-->
<!--<div class="col-lg-4">-->
<!--<i class="fa fa-heart"></i>-->
<!--<h4>Новости</h4>-->
<!--<p>vsfdafegrwfqedfrwgfeqdefvegwevbef</p>-->
<!--</div>-->
<!--<div class="col-lg-4">-->
<!--<i class="fa fa-laptop"></i>-->
<!--<h4>Найти книгу</h4>-->
<!--<p>vsfdafegrwfqedfrwgfeqdefvegwevbef</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4>Информация</h4>
            <br>
            <p> описание </p>
            <div class="col-lg-4">
                <!--<div class="tilt">-->
                <!--<a href="#"><img src="img/search.jpg" alt="какое-то изображениеЭ"></a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="container wb">
    <!--<div class="row centered">-->
    <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<h4>Что можно делать?</h4>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<p>grefwsadwfwgrfsewrgewfe</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-10 col-lg-offset-1">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="" class="img-responsive">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <div id="lg">
        <div class="container">
            <div class="row ">
                <!--<h4>Партнеры</h4>-->
                <!--<div class="col-lg-2 col-lg-offset-1">-->
                <div class="container w">
                    <div class="row centered">
                        <br><br>
                        <div class="col-md-4">
                            <i class="fa fa-address-card"></i>
                            <h4>Регистрируй</h4>
                            <!--<p>vsfdafegrwfqedfrwgfeqdefvegwevbef</p>-->
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-search"></i>
                            <h4>Находи</h4>
                            <!--<p>vsfdafegrwfqedfrwgfeqdefvegwevbef</p>-->
                        </div>
                        <div class="col-lg-4">
                            <i class="fa fa-sign-language"></i>
                            <h4>Отпускай</h4>
                            <!--<p>vsfdafegrwfqedfrwgfeqdefvegwevbef</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div id="r">-->
<!--<div class="container">-->
<!--<div class="row centered">-->
<!--<div class="col-lg-8 col-lg-offset-2">-->
<!--<h4>dfgsa</h4>-->
<!--<p>dfgsafsgsdfa</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div id="footer">
    <div class="container">
        <div class="row centered">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-vk"></i></a>
            <a href="#"><i class="fa fa-telegram"></i> </a>
            <a href="#"><i class="fa fa-instagram"></i> </a>
        </div>
    </div>
</div>
<div class="call-me">Перезвоните мне
    <div class="call-me-body"></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>