extends layout

block content
    html

        .container
            .row.centered
              h2 Регистрация турнира
            div.row
                div.col-sm-6.col-md-4.col-md-offset-4
                    form(name='name' action='/registerTour' method='POST')
                        h4 Введите название турнира
                        input(type="text", name='title' size="40")
                        br
                        br
                        h4 Выберите систему проведения
                        select(name='system')
                            option(value='swiss') Швейцасркая
                            option(value='circular') Круговая
                            option(value='olympic') Нокаут
                        br
                        br
                        h4 Выберите дату проведения:
                        input(type='date', name='start')
                        h4 Выберите дату окончания:
                        input(type='date', name='end')
                        //input(type='submit', value='Отправить')
                        br
                        h4 Введите количество туров
                        input(type='text', name='numberOfTours')
                        h4 Введите место проведения
                        input(type="text", name="place", size="40")
                        h4 Выберите контроль времени
                            select(name='controlTime')
                                option(value='classic') Классические шахматы
                                option(value='rapid') Быстрые шахматы
                                option(value='blitz') Блиц
                        br
                        button
                            i.icon-ok Ок
    #footer
        .container
            .row.centered
                p ул. Некрасова, 5Б, Белгород, Белгородская обл., 308007
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='../js/bootstrap.min.js')
