extends layout

block content
    html

    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h2.text-center.login-title Регистрация
                    div.signup-wall
                        form.form-signin(class='form-signin', action='/signup', method='POST')
                            input(type='text', name='username', class='form-control', placeholder='Имя пользователя', required, autofocus)
                            input(type='password', name='password', class='form-control nomargin', placeholder='Пароль', required)
                            input(type='email', name='email', class='form-control', placeholder='Email', required)
                            input(type='text', name='firstName', class='form-control', placeholder='Имя', required)
                            input(type='text', name='lastName', class='form-control', placeholder='Фамилия', required)
                            input(type='phone' name='phone', class='form-control', placeholder='Номер телефона', required)
                            h4 Введите дату рождения
                            input(type='date', name='dataOfBirth')
                            input(type='text', name='region', class='form-control', placeholder='Адрес проживания', required)
                            input(type='number', name='fideId', class='form-control', placeholder='Идентификационный номер FIDE')
                            input(type='number', name='rating', class='form-control', placeholder='Рейтинг')
                            br
                            button
                                i.icon-ok Ок
                            br
                            span.clearfix
                    #message
                        if message
                            h1.text-center.error-message #{message}
    #footer
        .container
            .row.centered
                p ул. Некрасова, 5Б, Белгород, Белгородская обл., 308007
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='../js/bootstrap.min.js')